/* General */
section{
    letter-spacing: 1.2px;

}

.seccion-oscura{
    background-color: #072739;
    color: white;
}
.seccion-clara{
    color: #072739;
}
.seccion-naranja {
    background-color: #ffbd59;
} 


.seccion-titulo{
    font-size: 2rem;
    padding: 15px 0;
    color: #ffbd59;
    font-family: 'Rozha One', serif;
}
.seccion-texto{
    font-size: 1.2rem;
}
.texto-oscuro {
    background-color: #ffbd59;
    color: #072739;
    display: flex;
    justify-content: center;
}

/* Contacto */
.seccion-contacto{
    color: #072739;
    font-family: 'Rozha One', serif;
    font-size: 1.2rem;
}
.contacto .container {
    max-width: 1000px;
    min-height: 100px;
    padding: 1px;
}
.contacto .row{
    width: 100%;
    align-items: center;
}
.contacto button{
    color: #072739;
    font-weight: bold;
    background-color: transparent;
    border: transparent;
    border-radius: 15%;
    padding: 1rem 2em;
    margin: 10px;
    transition: all 0.2s ease-in-out;
}
.contacto button:hover{
    background-color:#072739;
    color:#ffbd59;
}
.contacto button i{
    color: #072739;
    font-size: 1.3rem;
    transition: all 0.2s ease-in-out;
}
.contacto button:hover i {
    color:#ffbd59;
}

/* Seccion Hero */
.hero{
    background-color: #2e3e46;
    min-height: 350px;
    flex-direction: column;
    justify-content:space-between;
    margin-top: 10vh;
    border-top-left-radius: 20px;
    border-top-right-radius:20px;
}
.hero-principal{
    padding: 3rem;
    
}
.hero .row{
display: flex;
    flex-direction: row-reverse
}

.izquierda .contenedor{
    margin: 7vh;
    color: #ffbd59;
}
.titulo{
    font-size: 2.5rem;
    font-family: 'Rozha One', serif;
}

/* Experiencia */
.experiencia{
    padding: 40px 40px 60px 40px;
}
.experiencia-titulo{
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
    display: flex;
    justify-content: center;
}
.experiencia .columna{
    padding: 20px;
    border: 2px solid #0727394d;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: all 0.2s ease-in;
}
.experiencia .columna:hover{
    color: white;
    background-color: #072739;
    font-weight: bold;
}

/* Educacion */
.formacion-academica{
    padding: 40px 40px 60px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.formacion-academica .contenedor{
    max-width: 600px;
    text-align: center;
}

.formacion-academica .titulo{
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
    display: flex;
    justify-content: center;
}
.formacion-academica .columna{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* Idioma */
.formacion-academica p{
    display: flex;
}